@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gochi+Hand&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.main-wrapper {
    width: 541px;
    height: 527px;
    opacity: 1;
    position: relative;
}

.front-card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 447px;
    height: 245px;
    background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 25.5px;
}

.front-card-container h1 {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3.42px;
}

.front-card-container p,
span {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.circles {
    display: flex;
    align-items: center;
    gap: 16px;
}

.big-circle {
    background-color: #FFFFFF;
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.small-circle {
    width: 21.13px;
    height: 21.13px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.card-back-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0.8rem 0;
}

.card-back-container p {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    text-transform: uppercase;

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.submit-container {
    width: 50%;
    text-align: center;
}

.submit-container h2 {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 3.42px;
    text-align: center;
    color: rgba(33, 9, 47, 1);
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 16px;
}

.submit-container p {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(143, 134, 148, 1);
    margin-bottom: 3rem;
}

.form {
    width: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 381px;
    margin: auto;
    margin-bottom: 2rem;
}

.form-container label {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(33, 9, 47, 1);
}

input {
    width: 100%;
    border: 1px solid rgba(223, 222, 224, 1);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 9px;
}

input::placeholder {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(33, 9, 47, 0.322);
}

input:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 0 0 1px #6348FE;
}

.invalid-input {
    border: 1px solid rgba(255, 80, 80, 1) !important;
    outline: none;
}


.form-container small {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(255, 80, 80, 1);
}

.date-container {
    width: 50%;
}

.cvc-container {
    width: 50%;
}

button {
    width: 100%;
    background: rgba(33, 9, 47, 1);
    border-radius: 8px;
    padding: 1rem;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

button:hover {
    background: hsl(278, 68%, 20%);
}

@media (max-width: 900px) {

    .main-wrapper {
        position: relative;
        top: 2rem;
        width: 343px;
        height: 251px;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .front-card-container {
        width: 286px;
        height: 157px;
        position: absolute;
        top: 50%;
        padding: 19px;
        transform: translateY(-20%);
        left: 0;
        z-index: 2;
    }

    .card-back-container {
        width: 286px;
        height: 157px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .form {
        width: 90%;
        margin-top: 3rem;
    }

    .form-container {
        width: 100%;
        max-width: 327px;
    }

    .circles {
        gap: 10.23px
    }

    .big-circle {
        width: 30px;
        height: 30px;
    }

    .small-circle {
        width: 13px;
        height: 13px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
    }

    .front-card-container h1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 2.2px;

    }

    .front-card-container p,
    span {
        font-size: 9px;
        letter-spacing: 1.29px;
    }

    .details {
        gap: 17px;
    }

    .card-back-container p {
        font-size: 9px;
    }

    .submit-container {
        width: 100%;
        max-width: 327px;
    }
}