.front-card-container {
    width: 447px;
    max-width: 100%;
    height: 245px;
    background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: end;
    padding: 1rem;
    flex-direction: column;
}

.card-back-container {
    width: 447px;
    max-width: 100%;
    height: 245px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(223, 222, 224, 1);
    border-radius: 8px;
}

button {
    width: 100%;
    background: rgba(33, 9, 47, 1);
    border-radius: 8px;
    padding: 1rem;
    color: white;
    border: none;
}