* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: 483px 100%;
}

#root {
  width: 80%;
}

@media (max-width: 1200px) {
  #root {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  #root {
    width: 98%;
  }
}

@media (max-width: 900px) {
  body {
    background-image: url('/images/background-mobile.png');
    background-size: 100% 240px;
    display: block;
  }  
}